@defer (when housesLoaded) {
    <div class="flex flex-col">
        <div class="grid grid-cols-3 place-items-center max-w-[70vw] min-w[50vw] border-2 border-gray-500 bg-white rounded-md font-bold text-sky-800 pt-2 pb-2 mb-5">
            <span>House Name</span>
            <span>Address</span>
            <span>Photo</span>
        </div>
        @for(house of houses; track $index) {
            <div class="grid grid-cols-3 place-items-center w-[70vw] border-2 border-gray-500 bg-white rounded-md font-bold text-sky-600 mb-2 even:bg-gray-200">
                <span>{{ house.HOUSENAME }}</span>
                <span>{{ house.ADDRESS }}</span>
                <a [routerLink]="`/houses/${house.HOUSENAME}`">
                    <img class="w-30 h-30 object-contain" [src]="baseUrl + house.PHOTO" [alt]="`Photo of house ${house.PHOTO}`">
                </a>
            </div>
        }
    </div>
}
