<div class="events-container">
    @if(this.events) {
      <div>
        <table class="data-table">
          <tr>
            <th>ID</th>
            <th>HOUSENAME</th>
            <th>EVENTNAME</th>
            <th>DATE</th>
            <th>FAMILY</th>
          </tr>
          @for (event of this.events; track $index) {
            <tr>
              <td>{{ event.ID }}</td>
              <td>{{ event.HOUSENAME }}</td>
              <td>{{ event.EVENTNAME }}</td>
              <td>{{ event.DATE }}</td>
              <td>{{ event.FAMILY }}</td>
            </tr>
          }
        </table>
      </div>
    }
</div>
